<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOGPOINT.</title>
    <style>
      body { background-color: #0a1930; padding: 30px; font-family: Arial,
      Helvetica, sans-serif; } .container { background-color: rgb(244 246 252);
      padding: 10px; border-radius: 3px; } .containerContent { width: 80%;
      margin: auto; } .bgDark { color: "#101720"; } .bgLight { color: "#F4F6FC";
      } .lightBgHover { color: "#E5E7EB"; } .textColor1 { color: "#101720"; }
      .textColor2 { color: "#4b5563"; } .textColor3 { color: "#6b7280"; }
      .borderColor { color: "#D1D5DB"; } .borderColorHover { color: "#6B7280"; }
      .color-primary { color: #007bff; } .color-danger { color: orangered; }
      .color-success { color: #28a745; } .color-white { color: #fff; }
      .color-blue { color: #0a1930; } a { font-size: 1.4rem; text-decoration:
      none; } .btn { font-size: 1.4rem; font-weight: 400; padding: 6px 8px;
      margin: 0 5px 0 0; border: 1px solid transparent; border-radius: 3px;
      cursor: pointer; } .btn-primary { color: #fff; background: #007bff; }
      .btn-secondary { color: #fff; border: 1px solid #fff; background:
      transparent; } .btn-danger { color: #fff; background: orangered; }
      .btn-success { color: #fff; background: #28a745; } .flex-center { display:
      flex; justify-content: center; align-items: center; } .logo { padding:
      5px; background-color: rgb(244 246 252); } .my { margin: 2rem 0; } .nav {
      text-align: center; background-color: #101720; color: #f4f6fc;
      padding-block: 2px; border-radius: 4px; } .greet { margin-top: 40px; }
      .username { font-weight: 600; font-size: 20px; } .resetBtn { text-align:
      center; margin-top: 30px; margin-bottom: 50px; } .footer { margin-top:
      60px; background-color: #101720; color: #f4f6fc; font-size: 13px;
      text-align: center; padding: 2px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <h2>blogpoint.</h2>
      </div>

      <div class="containerContent">
        <p class="greet">Hello <span class="username">{{name}}</span>,</p>

        <p>
          You recently requested to reset your password for your account. Use
          the button below to reset it.
          <strong>This link is only valid for 3 minutes.</strong>
        </p>

        <div class="resetBtn">
          <a
            href={{link}}
            target="_blank"
            style="
              font-size: 18px;
              text-decoration: none;
              padding: 7px 15px;
              border-radius: 3px;
              background-color: #4b5563;
              color: #f4f6fc;
              border: none;
              outline: none;
            "
          >Reset password</a>
        </div>

        <p
          style="
            margin-bottom: 0px;
            margin-top: 25px;
            color: #4b5563;
            font-size: 14px;
          "
        >
          Or copy and paste the URL into your browser:
        </p>
        <p
          style="
            margin-top: 5px;
            background-color: #e5e7eb;
            padding: 7px 12px;
            border-radius: 3px;
            width: fit-content;
          "
        >
          <a
            href={{link}}
            target="_blank"
            style="color: #4340ff; font-size: 14px"
          >
            {{link}}
          </a>
        </p>

      </div>
      <div class="footer">
        <p style="margin-bottom: 4px">
          Copyright © 2025 |
          <b>blogpoint.</b>
          | All Rights Reserved.
        </p>
        <p style="margin-top: 4px">Mahrajgunj, Kathmandu, Nepal</p>
      </div>
    </div>
  </body>
</html>